.container {
    display: grid;
}

.container {
    display: grid;
    margin: 2rem auto;
    width: 1200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 400px 150px repeat(3, 400px) 150px 50px repeat(3, 360px) 50px 150px 250px 150px 400px 200px;
    margin: auto;
}

.grid-item-1 {
    grid-column: 1 / span 12;
    /*grid-row: 1;*/
    height: 50px;
    background-color: rgb(92, 92, 138);
    color: white;
}

p.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

li {
    display: inline;
    margin-left: 40px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin-left: 650px;
    margin-top: -30px;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a {
    color:white;
}


.grid-item-2 {
    grid-column: 1 / span 9;
    /*grid-row: 2;*/
    height: 400px;
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
}

h1.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align:center;
    margin-top: 5px;
    color: white;
}

h3.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: -50px;
    color: white;
}

.grid-item-3 {
    grid-column: 10 / span 3;
    /*grid-row: 2;*/
    height: 400px;
    background-image: url('Images/Versilia.jpg');
    background-size: cover;
}

.grid-item-4 {
    grid-column: 1 / span 12;
    /*grid-row: 3;*/
    height: 150px;
    background-color: rgb(92, 92, 138);
}

h2.locations {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

p.locations {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: -20px
}

.grid-item-5 {
    grid-column: 1 / span 6;
    /*grid-row: 4;*/
    height: 400px;
}

h3.location1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(92, 92, 138);
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
}

p.location1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    margin-top: -10px;
}

button.location1 {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    margin-top: -10px;
    cursor: pointer;
}

.grid-item-6 {
    grid-column: 8 / span 5;
    /*grid-row: 4;*/
    height: 300px;
    margin-top: 50px;
    margin-right: 50px;
    background-image: url('Images/italy-mountain-villa.jpeg');
    background-size: cover;
}

.grid-item-7 {
    grid-column: 1 / span 12;
    /*grid-row: 5;*/
    height: 400px;
    background-color: rgb(92, 92, 138);
}

h3.location-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    margin-left: 550px;
    margin-top: 40px;
}

p.location-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    margin-left: 550px;
    margin-top: 40px;
    margin-top: -10px;
}

button.location-2 {
    background-color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 550px;
    margin-top: -10px;
    cursor: pointer;
}

section.jumbotron-7 {
    /*grid-column: 2 / span 5;*/
    height: 300px;
    margin-left: 50px;
    margin-top: -125px;

}

.grid-item-8 {
    grid-column: 1 / span 6;
    /*grid-row: 6;*/
    height: 400px;
}

h3.location-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(92, 92, 138);
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
}

p.location-3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    margin-top: -10px;
}

button.location-3 {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    margin-top: -10px;
    cursor: pointer;
}

.grid-item-9 {
    grid-column: 8 / span 5;
    /*grid-row: 6;*/
    height: 300px;
    margin-top: 50px;
    margin-right:50px;
    background-image: url('Images/tuscany-grape-field-nature-51947.jpeg');
    background-size: cover;
}

.grid-item-10 {
    grid-column: 1 / span 12;
    /*grid-row: 7;*/
    height: 150px;
    background-color: rgb(92, 92, 138);
}

h2.ammenities {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 37px;
    text-align: center;
    color: white;
}

p.ammenities {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: -20px;
}

.grid-item-11 {
    grid-column: 1 / span 12;
    /*grid-row: 8;*/
    height: 50px;
}

.grid-item-12 {
    grid-column: 1 / span 4;
    /*grid-row: 9;*/
    height: 360px;
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
}

h3.receptions {
    background-color: rgba(89, 89, 89, 0.8);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 140px;
}
        
.grid-item-13 {
    grid-column: 5 / span 4;
    grid-row:9;
    height: 360px;
}

h2.grid-13-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    font-size: 30px;
}

p.grid-13-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    padding: 15px;
    margin-top: -35px;
}

button.grid-13-a {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    margin-top: -65px;
    cursor: pointer;
}


.grid-item-14 {
    grid-column: 9 / span 4;
    /*grid-row: 9;*/
    height: 360px;
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
}

p.pool {
    background-color: rgba(89, 89, 89, 0.8);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-left: 100px;
    margin-top: 140px;
}

.grid-item-15 {
    grid-column: 1 / span 4;
    /*grid-row: 10;*/
    height: 360px;
}

h2.grid-15-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    font-size: 30px;
}

p.grid-15-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    padding: 15px;
    margin-top: -35px;
}

button.grid-15-a {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    margin-top: -65px;
    cursor: pointer;
}

.grid-item-16 {
    grid-column: 5 / span 4;
    /*grid-row: 10;*/
    height: 360px;
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
}

p.room {
    background-color: rgba(89, 89, 89, 0.8);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-left: 100px;
    margin-top: 140px;
}

.grid-item-17 {
    grid-column: 9 / span 4;
    /*grid-row: 10;*/
    height: 360px;
}

h2.grid-17-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    font-size: 30px;
}

p.grid-17-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    padding: 15px;
    margin-top: -35px;
}

button.grid-17-a {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    margin-top: -65px;
    cursor: pointer;
}

.grid-item-18 {
    grid-column: 1 / span 4;
    /*grid-row: 11;*/
    height: 360px;
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
}

p.views {
    background-color: rgba(89, 89, 89, 0.8);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-left: 100px;
    margin-top: 140px;
}

.grid-item-19 {
    grid-column: 5 / span 4;
    grid-row: 11;
    height: 360px;
}

h2.grid-19-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    font-size: 30px;
}

p.grid-19-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 138);
    text-align: center;
    padding: 15px;
    margin-top: -35px;
}

button.grid-19-a {
    background-color: rgb(92, 92, 138);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    margin-top: -65px;
    cursor: pointer;
}

.grid-item-20 {
    grid-column: 9 / span 4;
    /*grid-row: 11;*/
    height: 360px;
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
}

p.dining {
    background-color: rgba(89, 89, 89, 0.8);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-left: 100px;
    margin-top: 140px;
}

.grid-item-21 {
    grid-column: 1 / span 12;
    grid-row: 12;
    height: 50px;
}

.grid-item-22 {
    grid-column: 1 / span 12;
    /*grid-row: 13;*/
    height: 150px;
    background-color: rgb(92, 92, 138);
}

h2.reviews {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 37px;
    text-align: center;
    color: white;
}

p.reviews {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: -20px;
}

.grid-item-23 {
    grid-column: 1 / span 12;
    /*grid-row: 14;*/
    height: 250px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

    .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

    .carousel-bullet:hover {
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}





.grid-item-24 {
    grid-column: 1 / span 12;
    /*grid-row: 15;*/
    height: 150px;
    background-color: rgb(92, 92, 138);
}

h2.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 37px;
    text-align: center;
    color: white;
}

p.contact {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: -20px;
}



.grid-item-25 {
    grid-column: 1 / span 12;
    /*grid-row: 16;*/
    height: 400px;
}

.grid-item-26 {
    grid-column: 1 / span 12;
    /*grid-row: 17;*/
    height: 200px;
    background-color: rgb(92, 92, 138);